/* -------------------------- */
/* -------BASIC SETUP-------- */
/* -------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
	font-size: 25px;
	font-family: 'Economica', sans-serif;
}
body {
	height: 100vh;
}
.clearfix {zoom:1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* -------------------------- */
/* --------NAVIGATION-------- */
/* -------------------------- */
nav {
	z-index: 999;
	display: flex;
	box-shadow: 0 2px 5px #000000;
	color: #fff;
}
.nav-title {
	display: flex;
	flex: 1;
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: 0 2px 5px #000000;
	z-index: 999;
}
.nav-title a{
	text-decoration: none;
	color: #fff;
	transition: color .3s;
}
.nav-title a:hover {
	color: #747474;
}
.nav-title .phone{
	display: flex;
	margin-right: 10px;
}
.nav-title ion-icon{
	flex: 1;
	font-size: 110%;
	text-align: center;
	margin: 20% 8px 0 5px;
}
.nav-title p{
	margin-top: 20%;
	font-size: 90%;
}
.nav-title h1 {
	font-family: 'East Sea Dokdo', cursive;
	margin-top: 5px;
	font-weight: 100;
	padding-left: 30px;
	flex: 1;
	font-size: 250%;
}
.nav-items .main-nav {
	list-style: none;
	display: flex;
	margin: 10px 20px 10px 10px;
}
.nav-items .main-nav li a {
	font-weight: 400;
	font-size: 75%;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	line-height: 50px;
	border-left: 1px solid transparent;
	transition: color .4s, border-left .4s;
}
.nav-items .main-nav li a:hover,
.nav-items .main-nav li a:active {
	color: #939393;
	border-left: 1px solid #939393;
}

.nav-items .main-nav li {
	padding: 10px;
	border-radius: 5px;
	transition: background-color .4s;
}

.nav-items .main-nav li:hover,
.nav-items .main-nav li:active {
	box-shadow: 0 2px 5px #000000;
	background-color: rgba(0, 0, 0, 0.6);
}

.active {
	box-shadow: 0 2px 5px #000000;
	background-color: rgba(0, 0, 0, 0.6);
}

/* -------------------------- */
/* --------BACKGROUND-------- */
/* -------------------------- */
header {
	
}
body {
	background-size: cover;
    background-position: center;
    height: 100vh;
}
.home-body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(img/background.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.about-us-body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(img/background-2.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.view-tours-body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(img/background-3.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.contact-body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(img/background-4.jpg);
	background-size: cover;
	background-attachment: fixed;
}

/* -------------------------- */
/* ---------REUSABLES-------- */
/* -------------------------- */

.section-heading {
	font-size: 'Economica', sans-serif;
	font-size: 110%;
	text-align: center;
	padding: 20px 0 10px 0;
	margin: 0 auto;
	width: 15%;
	border-bottom: 1px solid black
}

/* -------------------------- */
/* ---------HOME PAGE-------- */
/* -------------------------- */

.body-heading {
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	box-shadow: 0 2px 5px #000000;
	margin: 5% auto 10% auto;
	width: 80%;
}
.body-heading .heading{
	text-align: center;
	color: #fff;
	padding: 2%;
	
}
.body-heading .heading h3 {
	font-size: 150%;
	border-top: 1px solid #989898;
	border-bottom: 1px solid #989898;
	padding: 5px;
}
.body-heading .heading p {
	margin-top: 20px;
	font-size: 90%;
}
.pictures {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.tour-pic img {
	border-radius: 5px;
	height: 200px;
	width: auto;
	margin: 20px;
	transition: height .5s, margin .5s, box-shadow .5s;
	box-shadow: 0 1px 10px #454545;
}

.tour-pic img:hover {
	height: 250px;
	width: auto;
	margin: 10px;
	flex-grow: 2;
	box-shadow: 0 1px 50px #454545;
}


/* -------------------------- */
/* ---------ABOUT US--------- */
/* -------------------------- */
#about-us-header {
	height: 100vh;
}
.body-heading .heading span {
	padding: 0px 5px 0px 5px;
}
.body-heading .heading span:first-child {
	padding-left: 15px;
}
.body-heading .heading span a{
	text-decoration: none;
	font-size: 50%;
	border-left: 1px solid #4e4e4e;
	color: #fff;
	padding: 0px 5px;
	transition: font-size .3s, border .3s;
}
.body-heading .heading span a:hover {
	text-decoration: none;
	border-left: 2px solid #fff;
	font-size: 70%;
	color: #fff;
}

/* ---------OUR STORY--------- */
.section-story {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.77);
}
.section-story .our-story {
	padding: 2% 5% 5% 5%;
	display: flex;
	justify-content: center;
}
.section-story .our-story img {
	width: 300px;
	height: auto;
	margin-right: 30px;
	box-shadow: 0 1px 30px #000;
	border-radius: 5px;
}
.section-story .our-story p {
	width: 200px;
}
.section-story .our-story .story-pic {
	text-align: center;
	flex: 1;
}
.section-story .our-story .story-text h3{
	font-size: 150%;
	border-bottom: 1px solid #000;
	padding: 10px;
}
.section-story .our-story .story-text span{
	font-size: 70%;
	font-weight: 100;
}
.section-story .our-story .story-text p{
	text-align: center;
	width: 100%;
	margin-top: 10px;
}

/* ---------OUR GUIDES--------- */

.section-guides {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
}
.section-guides .section-heading h2{
	border-bottom: 1px solid #fff;
}
.section-guides .guide-pics {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2%;
}
.section-guides .guide-pics img{
	width: auto;
	height: 300px;
	flex: 1;
	margin: 0 auto;
	border-radius: 5px;
}
.section-guides .guide-pics .guide-pic {
	flex: 1;
	text-align: right;
}
.section-guides .guide-pics .guide{
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-align: center;
	margin: 10px;
}
.section-guides .guide-pics .guide .guide-desc h4{
	border-bottom: 1px solid #fff;
	font-size: 135%;
	padding: 5px;
}
.section-guides .guide-pics .guide .guide-desc p{
	padding: 5px;
}
.section-guides .guide-pics .guide .guide-desc {
	margin: 20px;
	flex: 1;
	text-align: left;
}

/* ---------OUR MISSION--------- */

.section-mission {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.77);
	text-align: center;
}
.section-mission .section-heading{
	flex: 1;
}
.mission-text {
	flex: 1;
	margin: 10px;
}
.mission-text span{
	font-size: 80%;
	font-weight: 100;
}
.mission-text p{
	width: 75%;
	margin: 20px auto 50px auto;
	font-size: 110%;
	font-weight: 100;
	padding: 20px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

/* -------------------------- */
/* --------VIEW TOURS-------- */
/* -------------------------- */

.tour-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.tour-list .tour {
	flex: 1;
	margin: 10% 40px 0px 40px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.46);
	border-radius: 5px;
}
.tour-list .tour p{
	font-size: 80%;
}
.tour-list .tour .tour-title{
	border-radius: 5px;
	border-bottom: 1px solid rgba(93, 93, 93, 0.77);
	background-color: rgba(180, 180, 180, 0.76);
	padding: 10px;
	box-shadow: 0px 0px 15px #000;
}
.tour-list .tour .tour-inc{
	border-bottom: 1px solid rgba(93, 93, 93, 0.77);
	font-size: 90%;
	padding: 10px;
}
.tour-list .tour .tour-inc ul{
	list-style: none;
}
.tour-list .tour .tour-price{
	font-size: 90%;
	padding: 10px;
}

	
/* -------------------------- */
/* ---------CONTACT---------- */
/* -------------------------- */

.contact-info {
	width: 60%;
	padding: 20px;
	color: #7b7b7b;
	background-color: rgba(0, 0, 0, 0.6);
	text-align: center;
	margin: 5% auto 0px auto;
}
.contact-info .contact{
	border-bottom: 1px solid #7b7b7b;
	padding: 10px;
}

/* -------------------------- */
/* ------RESPONSIVENESS------ */
/* -------------------------- */

@media only screen and (max-width: 1200px) {
	.tour-list .tour {
		margin: 5% 2px;
	}
}
@media only screen and (max-width: 1085px) {
	.nav-title .phone {display: none;}
	.pictures .tour-pic img {
		height: 125px;
		width: auto;
		margin: 10px;
	}
	.pictures .tour-pic img:hover {
		height: 150px;
		width: auto;
		margin: 10px;
	}
	.section-heading h2 {
		font-size: 100%;
	}
	.section-story .our-story .story-text h3 {
		font-size: 110%;
	}
	.section-story .our-story .story-text p {
		font-size: 80%;
	}
	.section-guides .guide-pics .guide .guide-desc {
		font-size: 80%;
	}
}

@media only screen and (max-width: 890px) {
	.nav-title h1 {
		font-family: 'East Sea Dokdo', cursive;
		margin-top: 10px;
		font-weight: 100;
		padding-left: 15px;
		flex: 1;
		font-size: 200%;
	}
	.body-heading {margin: 10% auto 10px auto;}
	.body-heading .heading h3 {
		font-size: 110%;
		border-top: 1px solid #989898;
		border-bottom: 1px solid #989898;
		padding: 5px;
	}
	.body-heading .heading p {
		margin-top: 20px;
		font-size: 70%;
	}
	.nav-items .main-nav {
		margin: 5px 10px 5px 5px;
	}
	.tour-list {
		flex-direction: column;
	}
	.tour-list .tour{
		margin: 20px;
	}
	.section-story .our-story .story-pic img {
		width: 250px;
		height: auto;
		margin-right: 20px;
		margin-top: 10%;
		box-shadow: 0 1px 30px #000;
		border-radius: 5px;
	}
	.section-guides .guide-pics .guide .guide-pic img {
		height: 200px;
		width: auto;
		margin-top: 20%;
	}
}
@media only screen and (max-width: 765px) {
	.section-story .our-story .story-text h3 {
		font-size: 80%;
	}
	.section-story .our-story .story-text p {
		font-size: 60%;
	}
	.section-story .our-story .story-pic img {
		width: 175px;
		height: auto;
		margin-right: 20px;
		margin-top: 20%;
		box-shadow: 0 1px 30px #000;
		border-radius: 5px;
	}
}
@media only screen and (max-width: 750px) {
	nav {flex-direction: column;}
	.nav-title {text-align: center;}
	.nav-title h1 {
		margin: 0;
		padding: 0;
	}
	.nav-items .main-nav {
		justify-content: center;
	}
	.nav-items .main-nav li{
		margin: 0;
		padding: 0;
		flex: 1;
		text-align: center;
	}
	.nav-items .main-nav li a{
		margin: 5px;
		padding: 5px;
	}
	.pictures {
		flex-direction: column;
		justify-content: center;
	}
	.pictures .tour-pic {
		text-align: center;
	}
	.pictures .tour-pic img {
		height: 200px;
		width: auto;
	}
	.pictures .tour-pic img:hover {
		height: 225px;
		width: auto;
	}
	.section-guides .guide-pics .guide {
		flex-direction: column;
	}
	.section-guides .guide-pics .guide .guide-pic{
		text-align: center;
		padding: 0;
		margin: 0;
	}
	.section-guides .guide-pics .guide .guide-pic img{
		padding: 0;
		margin: 0;
	}
	.section-guides .guide-pics .guide .guide-desc {
		margin: 5px;
		flex: 1;
		text-align: center;
	}
}
@media only screen and (max-width: 720px) {
	.body-heading .heading h3 {
		font-size: 90%;
	}
}
@media only screen and (max-width: 680px) {
	.section-story .our-story{
		flex-direction: column;
	}
	.section-story .our-story .story-pic img {
		display: none;
	}
	.section-heading {
		width: 45%;
}
}

@media only screen and (max-width: 460px) {
	.nav-title h1 {font-size: 150%;}
	.pictures .tour-pic img {
		height: 125px;
		width: auto;
	}
	.pictures .tour-pic img:hover {
		height: 125px;
		width: auto;
	}
	.body-heading .heading h3 {
		font-size: 50%;
	}
	.body-heading .heading p {
		font-size: 40%;
	}
	.mission-text p{
		font-size: 60%;
	}
}























